In [1]:
import pandas as pd
df=pd.read_csv("aapl_no_dates.csv")
df.head()

     Open    High     Low   Close    Volume
0  153.17  153.33  152.22  153.18  16404088
1  153.58  155.45  152.89  155.45  27770715
2  154.34  154.45  153.46  153.93  25331662
3  153.90  155.81  153.78  154.45  26624926
4  155.02  155.98  154.48  155.37  21069647

In [9]:
eng=pd.date_range(start="6/01/2017",end="6/30/2017",freq="B")
eng

DatetimeIndex(['2017-06-01', '2017-06-02', '2017-06-05', '2017-06-06',
               '2017-06-07', '2017-06-08', '2017-06-09', '2017-06-12',
               '2017-06-13', '2017-06-14', '2017-06-15', '2017-06-16',
               '2017-06-19', '2017-06-20', '2017-06-21', '2017-06-22',
               '2017-06-23', '2017-06-26', '2017-06-27', '2017-06-28',
               '2017-06-29', '2017-06-30'],
              dtype='datetime64[ns]', freq='B')

In [10]:
df.set_index("eng",inplace=True)
df

KeyError: "None of ['eng'] are in the columns"

In [12]:
rng = pd.date_range(start="6/01/2017", end="6/30/2017", freq="B")  # Business days
df = pd.DataFrame({"data": range(len(rng))}, index=rng)
df

            data
2017-06-01     0
2017-06-02     1
2017-06-05     2
2017-06-06     3
2017-06-07     4
2017-06-08     5
2017-06-09     6
2017-06-12     7
2017-06-13     8
2017-06-14     9
2017-06-15    10
2017-06-16    11
2017-06-19    12
2017-06-20    13
2017-06-21    14
2017-06-22    15
2017-06-23    16
2017-06-26    17
2017-06-27    18
2017-06-28    19
2017-06-29    20
2017-06-30    21

In [15]:
df = pd.DataFrame({"rng": rng, "data": range(len(rng))})
df.set_index("rng", inplace=True)
df

            data
rng
2017-06-01     0
2017-06-02     1
2017-06-05     2
2017-06-06     3
2017-06-07     4
2017-06-08     5
2017-06-09     6
2017-06-12     7
2017-06-13     8
2017-06-14     9
2017-06-15    10
2017-06-16    11
2017-06-19    12
2017-06-20    13
2017-06-21    14
2017-06-22    15
2017-06-23    16
2017-06-26    17
2017-06-27    18
2017-06-28    19
2017-06-29    20
2017-06-30    21

In [16]:
df["2017-06-14"]

KeyError: '2017-06-14'